ФИО	Табель	Курс	Telegram	Github repo
Иванов Иван Иванович	123456	1	@ivanov_aaaaa	https://github.com/Ivanov_aaaaa/recsys
Карлова Клара Аркадиевна	143588	1		
Петров Петр	311847	1	@petrov_bbbbbbbb	https://github.com/petrov_bbbbbbbb/RecSys
